<ion-header>
  <ion-toolbar>
    <ion-title>Match</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="demo">
        <header class="demo__header"></header>
        <div class="demo__content">
          <div class="demo__card-cont">
            <div class="demo__card">
              <div class="demo__card__top brown">
                <div class="demo__card__img"><img src="../../assets/img/maluma.jpg" alt=""></div>
                <p class="demo__card__name">Reggaeton</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">Maluma</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
              <div class="demo__card__top lime">
                <div class="demo__card__img"><img src="../../assets/img/comander.jpg" alt=""></div>
                <p class="demo__card__name">Banda</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">El comander</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
              <div class="demo__card__top cyan">
                <div class="demo__card__img"><img src="../../assets/img/daniela.jpg" alt=""></div>
                <p class="demo__card__name">Pop</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">Daniela Spalla</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
                <div class="demo__card__top purple">
                  <div class="demo__card__img"><img src="../../assets/img/men.jpg" alt=""></div>
                  <p class="demo__card__name">Compatible Con:</p>
                </div>
                <div class="demo__card__btm">
                  <p class="demo__card__we">Javier Gonzalez</p>
                </div>
                <div class="demo__card__choice m--reject"></div>
                <div class="demo__card__choice m--like"></div>
                <div class="demo__card__drag"></div>
              </div>
            <div class="demo__card">
              <div class="demo__card__top indigo">
                <div class="demo__card__img"><img src="../../assets/img/bad.jpg" alt=""></div>
                <p class="demo__card__name">Trap</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">Bad Bunny</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
              <div class="demo__card__top blue">
                <div class="demo__card__img"><img src="../../assets/img/guns.jpg" alt=""></div>
                <p class="demo__card__name">Rock</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">Guns N Roses</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
            <div class="demo__card">
                <div class="demo__card__top purple">
                  <div class="demo__card__img"><img src="../../assets/img/woman.jpg" alt=""></div>
                  <p class="demo__card__name">Compatible Con:</p>
                </div>
                <div class="demo__card__btm">
                  <p class="demo__card__we">Gaby Hernandez</p>
                </div>
                <div class="demo__card__choice m--reject"></div>
                <div class="demo__card__choice m--like"></div>
                <div class="demo__card__drag"></div>
              </div>
            <div class="demo__card">
              <div class="demo__card__top purple">
                <div class="demo__card__img"><img src="../../assets/img/angeles.jpeg" alt=""></div>
                <p class="demo__card__name">Cumbia</p>
              </div>
              <div class="demo__card__btm">
                <p class="demo__card__we">Angeles Azules</p>
              </div>
              <div class="demo__card__choice m--reject"></div>
              <div class="demo__card__choice m--like"></div>
              <div class="demo__card__drag"></div>
            </div>
          </div>
        </div>
      </div>

</ion-content>
