<ion-content class="tutorial-page">
  <div padding-top text-end>
    <ion-button fill="clear" [routerLink]="'/login/'" routerDirection="forward">Saltar<ion-icon name="arrow-forward"></ion-icon></ion-button>
  </div>

  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../../assets/slides/undraw_romantic_getaway_k2mf.svg" alt="">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h2>#NiUnaMenos</h2>
                <p>YaBasta, aplicación multiplatfoma centrada a detectar, denunciar y prevenir mediante una comunicación bidereccional entre RH y sus colabordores.</p>
                <br>
                <br>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="../../assets/slides/undraw_interview_rmcf.svg" alt="">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>No mas acoso laboral</h2>
                    <p>lorem</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

    <ion-slide>
        <ion-grid>
            <ion-row>
                <ion-col>
                  <div></div>
                    <img src="../../assets/slides/undraw_multitasking_hqg3.svg" alt="">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                        <h2>Trabaja en un ambiente tranquilo</h2>
                        <p>lorem</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>

                    <ion-slide>
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                            <img src="../../assets/slides/undraw_blogging_vpvv.svg" alt="">
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col>
                                            <h2>Cumple tus metas</h2>
                                            <p>lorem</p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-slide>

    <ion-slide>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="../../assets/slides/undraw_super_woman_dv0y.svg" alt="">
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2>¿Estas lista?</h2>
                    <ion-button expand="block" fill="clear" [routerLink]="'/login/'" routerDirection="forward">Comenzar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
