<ion-header>
  <ion-toolbar>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h3>Cantidad</h3>
    <ion-button color="danger">-</ion-button><p>1</p> <ion-button color="danger">+</ion-button>

    <h4>Total: $795</h4>

    <div class="w3-light-grey">
        <div class="w3-container w3-red w3-center" style="width:50%"><strong>62% de 24</strong></div>
    </div>

    <div class="card-button"><ion-button color="danger" [routerLink]="'/card/'" routerDirection="forward"><strong>CONTINUAR</strong></ion-button></div>

  </div>

</ion-content>
