<ion-header>
    <ion-toolbar>
        <ion-button color="white" href="/tabs/(inicio:inicio)" routerDirection="reward"><ion-icon size="large" name="arrow-round-back"></ion-icon></ion-button>
      <ion-title>Reproductor</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div text-center>
    <ion-card><img src="../../assets/covers/cover2.jpg" alt=""></ion-card>

    <ion-row>
        <ion-col>
            <ion-icon size="large" name="skip-backward"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="pause"></ion-icon>
        </ion-col>
        <ion-col>
            <ion-icon size="large" name="skip-forward"></ion-icon>
        </ion-col>
    </ion-row>

        <ion-range>
          <ion-icon slot="start" size="small"></ion-icon>
          <ion-icon slot="end"></ion-icon>
        </ion-range>

        <p>Daniela Spalla - Pinamar</p>


  </div>
</ion-content>
