<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
<ion-row>
  <ion-col size="2" padding>
    <ion-avatar><img src="../../assets/img/woman.jpg" alt=""></ion-avatar>
  </ion-col>
  <ion-col size="10">
    <ion-card><p>HOLA!!! Que buena música escuchas ;)</p></ion-card>
  </ion-col>
</ion-row>

</ion-content>


<ion-footer>
    <ion-toolbar>
        <ion-item>
            <ion-input required type="text" placeholder="Invita a tu nuevo amigo a un Evento"></ion-input><ion-button color="secondary" size="small">Enviar</ion-button>
        </ion-item>
    </ion-toolbar>
</ion-footer>