.slds-card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.block {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 3px;
    border: 1px solid #3880ff;
    border-radius: 5px;
}