<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button [routerLink]="'/perfil/'" routerDirection="forward"><ion-icon name="contact" size="large"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>
      Violenciometro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Bromas hirientes</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Chantajear</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Mentir, engañar</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Ignorar, ley de hielo</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="warning"></ion-checkbox>
          <ion-label>Celar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="warning"></ion-checkbox>
            <ion-label>Culpabilizar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="warning"></ion-checkbox>
            <ion-label>Descalificar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="warning"></ion-checkbox>
            <ion-label>Ridiculizar, ofender</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="warning"></ion-checkbox>
            <ion-label>Humillar en público</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="warning"></ion-checkbox>
            <ion-label>Intimidar, amenazar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Controlar, prohibir</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Destruir artículos personales</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Manosear</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Caricias agresivas</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Golpear "jugando"</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Pellizcar, arañar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Empujar, jalonear</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Cachetear</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Patear</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="danger"></ion-checkbox>
            <ion-label>Encerrar, aislar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Amenazar con objetos o armas</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Amenazer de muerte</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Forzar a una relación sexual</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Violar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Mutilar</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="primary"></ion-checkbox>
            <ion-label>Asesinar</ion-label>
        </ion-item>
          
    </ion-list>
</ion-content>
